* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Noto Sans', 'Segoe UI', 'Open Sans', 'Helvetica Neue',
    Arial, sans-serif;
}

.container {
  margin: 1em;
}

input[type='text'],
textarea,
button {
  display: block;
  margin-bottom: 1em;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ddd;
  padding: 0 0.2em;
}

th {
  background-color: #f2f2f2;
}
